# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node dependencies
/node_modules/

# Production build
/build/

# Testing
/coverage/

# Environment variables
.env
.env.*.local
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# Optional: MacOS
.AppleDouble
.LSOverride

# Optional: Linux
*~

# Temporary files
*.swp
*.swo
*.tmp

# Local cache (npm, yarn)
.pnp/
.pnp.js
.cache/

# Optional: Window
%APPDATA%